@charset "utf-8";

/* reset css */
html,body,div,span,iframe,
h1,h2,h3,h4,h5,h6,p,
a,address,em,img,small,strong,
dl,dt,dd,ol,ul,li,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,figcaption,figure,
footer,header,menu,nav,section {
	font-size: 100%;
	margin: 0;
	padding: 0;
}
article,aside,footer,header,nav,main,section {
	display: block;
}
ul,ol {
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
address,em,i {
	font-style: normal;
}
a {
	text-decoration: none;
}

/* common */
body {
	font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "Meiryo", "メイリオ", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	background-color:#263238;;
	font-size: 16px;
}
.inner {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 160px;
}
input {
	border: none;
	line-height: 1.5em;
	padding: 0;
	display: block;
	margin: auto;
}


/*LOG IN　＆　SIGN UP*/
h1 {
	color: #fff;
	font-weight: bold;
	font-size: 2vw;
	text-align: center;
	margin-bottom: 1em;
}
.box {
	margin-top: 100px;
	width: 40%;
	padding:50px 30px;
	background-color: #2b383f;
	box-shadow: 0 1px 6px rgba(0,0,0,.3);
}
form {
	margin: auto;
	width: 90%;
	border-radius: 6px;
	text-align: center;
}
form input[type="text"],
form input[type="password"]{
	background-color: #3b4148;
	border-radius: 3px;
	color: #a9a9a9;
	margin-bottom: 3em;
	padding: 0 16px;
	width: 80%;
	height: 50px;
}

/* LOG IN*/
#login form input[type="submit"] {
	background: #a160cd;
	border: 0;
	width: 60%;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
	background: #8816aa;
}
.signup a {
	display: block;
	color: #fff;
	text-align: center;
	font-size:.75rem;
	margin-top: 3em;
	transition: color 0.3s ease-in-out;
}
.signup a:hover {
	color: #8816aa;
}

/*SIGN UP*/
#signup form input[type="submit"] {
	background: #8de7ee;
	border: 0;
	width: 60%;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	transition: background 0.3s ease-in-out;
}
#signup form input[type="submit"]:hover {
	background: #16a0aa;
}

/* chat room*/
#chat header {
	width:100%;
	position: relative;
	background:#050401;
	padding: 10px;
	margin-bottom: 50px;
	position: sticky;
	top:0;
	z-index: 2;
}
#chat header h1 {
	margin-bottom: 0;
}
#chat header p {
	color: #ccc;
	text-align: center;
}
#chat header .logout {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	margin-right: 40px;		
}
#chat header .logout a{
	color: #a7333f;
	display: block;
	padding: 8px 16px;
	background: #fff;
	border-radius: 3px;
	transition: background 0.3s ease-in-out;
}
#chat header .logout a:hover {
	color: #fff;
	background: #a7333f;
}

.chatmessage .login-user,
.chatmessage .time {
	font-size: 80%;
	display:block;
	color: #ccc;
}
.chatmessage .login-user {
	vertical-align: top;
}
.chatmessage .time {
	vertical-align: bottom;
}
.chatmessage .text {
	display: inline-block;
	padding: 15px;
	border-radius: 20px;
	color: #fff;
}
.my-message {
	text-align: right;
	margin-right: 55px;
}
.my-message .text {
	background-color: #30bced;
	position: relative;
}
.my-message .text::before {
	content: '';
	position: absolute;
	display: block;
	border-radius: 50%;
	background-color: #30bced;
	right: -35px;
	bottom: 15px;
	width: 30px;
	height: 30px;
}
.my-message .text::after {
	content: '';
	position: absolute;
	display: block;
	border-radius: 50%;
	background-color: #30bced;
	right: -55px;
	bottom: 10px;
	width: 15px;
	height: 15px;
}
.other-message {
	text-align: left;
	margin-left: 55px;
}
.other-message .text {
	background-color: #fc5130;
	position: relative;
}
.other-message .text::before {
	content: '';
	position: absolute;
	display: block;
	border-radius: 50%;
	background-color: #fc5130;
	left: -35px;
	bottom: 15px;
	width: 30px;
	height: 30px;
}
.other-message .text::after {
	content: '';
	position: absolute;
	display: block;
	border-radius: 50%;
	background-color: #fc5130;
	left: -55px;
	bottom: 10px;
	width: 15px;
	height: 15px;
}

#chat form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 100%;
	padding: 24px;
	border-radius: 0;
	background: #050401;
	transform: translateX(-50%);
}
#chat form .input {
	flex: 0 1 528px;
	height: 50px;
	margin: 0 4px;
	background-color: #3b4148;
	border-radius: 3px;
	color: #a9a9a9;
}
#chat form input[type="text"] {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}
#chat form .submit {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
#chat form input[type="submit"] {
	height: 50px;
	margin: 0 4px;
	padding: 0 16px;
	background: #a7333f;
	border: 0;
	border-radius: 3px;
	color: #fff;
	transition: background 0.3s ease-in-out;
}
#chat form input[type="submit"]:hover {
	color: #a7333f;
	background: #fff;
}

@media screen and (max-width: 479px) {
	#chat .inner {
		width:95%;
	}
	#chat header .logout {
		margin-right:1em;
	}
}


